body,html {
	margin:0;
	height:100%;
	width:100%;
}

#map {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: 80px 1fr 50px;
	grid-template-columns: 300px 1fr;
	grid-template-areas: 
	"header header"
	"sidebar content"
	"footer footer";
}

.sidebar-item {
    padding: 10px; /* adds inner padding */
    background: gainsboro; /* background color */
    border: 1px solid gray; /* border width, style, and color */
    margin: 5px; /* outer padding */
}

.header {
	grid-area: header;
	padding:10px;
	background-color: #333;
	color: white;
	font-size: 2em;
}

.content {
	grid-area: content;
}

.footer {
	grid-area: footer;
	padding:10px;
	background-color: rgb(175, 175, 175);
}

#sidebar {
    width: 250px; /* Задаем ширину сайдбара */
    background-color: #f9f9f9; /* Цвет фона */
    border-right: 2px solid #ececec; /* Граница справа */
    padding: 10px; /* Внутренний отступ */
    overflow-y: auto; /* Прокрутка по вертикали при необходимости */
}

.status-group {
    margin-bottom: 10px; /* Отступ между группами */
}

.status-title {
    background-color: #ddd; /* Цвет фона заголовков */
    padding: 10px; /* Внутренний отступ */
    cursor: pointer; /* Курсор в виде указателя */
    border-radius: 5px; /* Скругленные углы */
    font-weight: bold; /* Жирный шрифт */
}

.status-items {
    display: none; /* По умолчанию элементы списка скрыты */
    padding-left: 20px; /* Отступ для вложенных элементов */
    width: 150px; /* Задаем ширину сайдбара */
}

.sidebar-item {
    background-color: #eee; /* Цвет фона элементов списка */
    margin: 5px 0; /* Отступы сверху и снизу */
    padding: 5px; /* Внутренний отступ */
    cursor: pointer; /* Курсор в виде указателя */
    border-radius: 3px; /* Скругленные углы */
    transition: background-color 0.3s; /* Анимация изменения цвета фона */
}

.sidebar-item:hover {
    background-color: #ddd; /* Цвет фона при наведении */
}


@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .blinking-popup .leaflet-popup-content-wrapper {
    background-color: red; /* Фон попапа */
    color: white; /* Цвет текста */
    border-radius: 8px; /* Скругление углов */
    animation: blink 2s linear infinite; /* Анимация продолжается 2 секунды с постоянной скоростью и повторяется бесконечно */
  }

  .warning-popup{
    background-color: yellow; /* Фон попапа */
    color: black; /* Цвет текста */
    border-radius: 8px; /* Скругление углов */
  }
  
